
.info{
    box-sizing: border-box;
    flex-wrap:nowrap;
    line-height: 2.5;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
    }
    
    .margin
    {
        margin-left: 37px;
    }
    
    .Nftright
    {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    }
    .tab{
        margin-left: 65px;
    }
    table{
        margin-left: 15px;
        margin-top: 10px;
       
        background: #FFFFFF;
        border: 1px solid #B9B9B9;
        border-radius: 2px;
    }
    
    .copy
    {
        content: "copied";
        font-size: 15px;
        margin-left: 10px;
        cursor: pointer;
    }
    .thead
    {
        background: #3F51B5; 
        color: #FFFFFF;
    }
    
    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
        display: none;
    }
    ::ng-deep .mat-tab-label{
        font-weight: bold;
        display: none;
        text-decoration: none;
        color: #000000;
        
      }
    
      
      .remove-border-bottom ::ng-deep .mat-tab-header {
        border-bottom: none;
    }
    ::ng-deep .mat-tab-label-underline {
        display: none;
    }
    ::ng-deep .mat-tab-label .mat-tab-label-content {
        font-size: 18px!important;
        font-weight:700!important;
        color: #000000dd!important;
        opacity: 1!important;
    }
    ::ng-deep.mat-tab-label.mat-tab-label-active {
        background-color: #FFFFFF;
        font-weight: 700;
        // color:#000000;
      }
    
    .metamain{
        width: 400px;
    }
     
    .metadata
    {
        height: 450px;    
        background: #FFFFFF;
        border-radius: 5px solid ;
        width: 1300px;
    }
    ul li{
        list-style-type: none;
    }
    
    .red{
        color: #EA3636;
    }
    .blue{
        color: 
        #2097EE;
    }
    
    small{
        color: #5F6368;
    }
    
    @media screen and (max-width:700px) and (min-width:200px) {
        .info{
            margin-top: 15px;
            margin-right: 20px;
        }
        .metadata{
            height: 500px;
            background: #FFFFFF;
            border-radius: 5px solid ;
            width: 100%;
        }
        table{
            width:100%;
        }
        .metamain{
            width: 100%;
        }
        .smalldevice{
            width: 100%;
        }
        .tab{
            margin-left: 0px;
            padding: 0px 25px;
    
    
        }
        .nftleft{
            margin-left: 0px;
            padding: 0px 20px 0px 0px;
            overflow-x: scroll;
        }
        
        
        
        
        
        
    }