.main{ 
    margin-top: 30px;
    margin-left: 50px;
    width: 100%;
    .NFT{
        position: absolute;
        width: 116px;
        height: 28px;
        left: 50px;
        top: 95px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
}
}
.image{
    box-sizing: border-box;
    position: absolute;
    width: 202px;
    height: 207px;
    left: 94px;
    top: 166px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.label{
    color: #000000;
}
.info{
box-sizing: border-box;
position: absolute;
width: 1025px;
left: 320px;
height: 207px;
right: 0px;
top: 166px;
display:flex;
flex-wrap:nowrap;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;

}
ul li{
    list-style-type: none;
    margin-top: 10px;

}
.NFT-name ,.total ,.Mint-id, .Token-Id, .creator 
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
width:100px
}
.card1{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
right: 20px;
padding-left: 10px;
line-height: 1.8!important;
/* identical to box height */

// text-align: center;

color: #000000;
}
.button
{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 34px;
    left: 1080px;   
    top: 302px;
    // margin-right:200px;
    
    background: #3F51B5;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
}

.view
{
    

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #FFFFFF;
}

.left-card{
    margin-top: 10px;
    line-height: 1.5;
}
.item1
{
    position: absolute;
width: 125px;
height: 42px;
left: 200px;
top: 0px;

// background: #FFFFFF;
border-radius: 5px 5px 0px 0px;

}
.head
{
margin-top: 330px;

}
table{
    align-items: flex-start;
    padding: 0px;
    width: 1220px;
    height: 421.01px;
    margin-left: 15px;
    margin-top: 10px;
    flex-wrap: nowrap;
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 2px;
}
.copy
{
    content: "copied";
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.main-header{
    width: 1250px;
height: 460px;
margin-left:42px;
padding-top: 2px;
background: #FFFFFF;
border-radius: 0px 5px 5px 5px;
}
.thead
{
    background: #3F51B5; 
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    display: none;
}
::ng-deep .mat-tab-label{
    margin-left:42px;
    font-weight: bold;
    display: none;
    text-decoration: none;
    color: #000000;
    
  }

  
  .remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
}
::ng-deep .mat-tab-label-underline {
    display: none;
}
::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 18px!important;
    font-weight:700!important;
    color: #000000dd!important;
    opacity: 1!important;
}
::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color: #FFFFFF;
    font-weight: 700;
    // color:#000000;
  }

.metamain{
    // position: absolute;
    width: 1240px;
    height: 480px;
    margin-left: 42px;
    top: 455px;
    
    background: #FFFFFF;
    border-radius: 5px solid ;  
    overflow: scroll;
}
 
 
.span
{
    font-weight: bold;
    padding-left:0px;
    line-height: 2;
}
.metadata
{
    position: absolute;
    width: 728px;
    height: 500px;
    left: 104px;
    top: 20px;
}
.json 
{
    // position: absolute;
    width: 728px;
    height: 451px;
    margin: 20px 0px 0px 20px;
    
    
.ul{
    padding: 0px!important;
    margin-top: 70px;
}


}
.red{
    color: #EA3636;
}
.blue{
    color: 
    #2097EE;
}
.json{
    margin:30px 0px 0px 15px;
    line-height: 1;
    
}
small{
    color: #5F6368;
}
  