*
{
  background-color: #FFFFFF;
}
 .nav-bar{
     display: flex;
   
     justify-content: space-between;
     position: relative;
     width: 1440px;
     height: 64px;
     background-color: #FFFFFF;
     flex-wrap: nowrap;
 }
 .trusty
 {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 28px;
 display: flex;
 align-items: center;
 text-align: center;
 color: #5F6368;
 background-color: #FFFFFF;
 }
 
 
 .last
 {
     display: flex;
     justify-content: space-evenly;
     align-items: flex-end;
     padding-right: 20px;
     align-self: center;
     cursor: pointer;
     font-size: 20px;
 }
 
 .create{
 left: 75.07%;
 right: 21.18%;
 top: 33.73%;
 bottom: 33.46%;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 21px;
 color: #5F6368;
 
 }
 .connect{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 21px;
 /* identical to box height */
 
 display: flex;
 align-items: center;
 text-align: center;
 
 color: #5F6368;
 }
 .last span {
     margin-right: 30px;
     align-self: center;
     
 }
 .sicon
 {
     align-self: center;
     height: 40px;
     width: 30px;
     cursor: pointer;
     font-size: 35px;
         
 
 }
 .second{
     display: flex;
    align-self: center;
    background: #FFFFFF;
    border: 2px solid white;
    margin-left: 140px;
 }
 .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
    //  align-items: stretch;
   }
   

  ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color:#FFFFFF ;
    width: 11px !important;
    height: 11px !important;
    transform: translate(50%, 50%);
}
::ng-deep .mat-slide-toggle.mat-checked  .mat-slide-toggle-thumb {
    background-color:#FFFFFF ;
}
::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
    width: 35px;
    height: 15px;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: #2097EE;
   }
   ::ng-deep .mat-menu-panel{
    position: relative;
    width: 200px;
    height: 260px;
   }
 
  .menuItem {  
    position: absolute;
    left: 6.94%;
    right: 2.89%;
    top: 78.53%;
    bottom: 10.73%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    display: flex;
    align-items: center;

  }
  .toggle-button
  {float: right;
    margin-top: 14px;
  }
  .edit
  {
    margin-left: 60px;
  }



input.nosubmit {
  width: 450px;
  height: 50px;
  border: 1px solid rgb(242, 239, 248);
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
 